@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using DrinkAndGo.Data.Models
@model IEnumerable<Drink>
<div>
    <h2>All drinks are shown here</h2>
</div>
@{ 
    foreach (var drink in Model)
    {
        <div>
            <h4>Drink Name: @drink.Name</h4>
            <p>Price: @drink.Price.ToString("c")</p>
        </div>
    }
}